<form [formGroup]="comicForm" id="comicForm">
    <mat-form-field appearance="legacy">
        <mat-label>Enter title</mat-label>
        <input matInput placeholder="title" formControlName="title" required>
        <!--         <mat-error *ngIf="title.invalid">Erreur</mat-error> -->
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <!--     <label>
        Title:
        <input type="text" formControlName="title">
    </label>

    <label>
        Description:
        <textarea type="text" formControlName="description"></textarea>
    </label>
    <label>
        Date:
        <input type="date" formControlName="date">>
    </label> -->
    <button type="submit" [disabled]="!comicForm.valid">Valider</button>
</form>

<div>
    {{ comicForm.value | json }}
</div>