<mat-sidenav-container>
    <mat-sidenav mode="side" opened fixedInViewport>
        <mat-nav-list>
            <a mat-list-item routerLink="/back-office">
                Back-office
            </a>
            <a mat-list-item routerLink="/">
                Home
            </a>
            <a mat-list-item routerLink="/back-office/comic/create">
                Comic
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>