/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: mat-color($mat-dark-theme-background, background);
    color: white;
/*     background-color: mat-color(mat-palette($mat-grey)); */
/*     background-color: $mat-dark-theme-background('background'); */
}
