<p>home works!</p>

<div id='comics-home-container'>
    <mat-grid-list cols="5" rowHeight="200px">
        <mat-grid-tile *ngFor="let comic of comics | async" [colspan]="1" [rowspan]="1">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{ comic.title }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    {{ comic.pathToThumbnail }}
                    {{ comic.description | slice:0:100 }} ...
                </mat-card-content>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>